.button {
  display: flex;
  height: 4em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #fcfcfd;
  color: #888;
  outline: 1px solid #888;
}
.operator {
  background-color: #c0c0c0;
  color: #fff;
}
